.Btn-Agregar {
    background: linear-gradient(135deg, #116137, #20da9f);
  border: none;
  color: white;
  font-weight: 600;
  padding: 0.6rem 1.8rem;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  width: 200px;
}

.Btn-Agregar:hover {
    background: linear-gradient(135deg, #116137, #20da9f);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}