.Categories_Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(135deg, #0a3d2f, #21a179); /* Verde IVY */
  color: white;
}

.Categories_Container {
  width: 90%;
  max-width: 1000px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.Categories_Title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #21a179;
  margin-bottom: 20px;
}

.Categories_Description {
  font-size: 1.2rem;
  color: #b51616;
  margin-bottom: 30px;
}

.Categories_List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Category_Card {
  background: #E3F2E9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.Category_Card:hover {
  transform: scale(1.05);
}

.Category_Card img {
  width: 100%;
  border-radius: 8px;
}

.Category_Card h2 {
  font-size: 1.5rem;
  color: #21a179;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .Categories_List {
    flex-direction: column;
    align-items: center;
  }

  .Category_Card {
    width: 90%;
    margin-bottom: 20px;
  }
    .Category_Card img {
        height: 170px; /* Ajusta la altura de las imágenes */
        object-fit: cover; /* Mantiene la proporción de la imagen */
    }
}