@media(min-width: 1024px) and (max-width: 1560px) {
  .Logos {
    position: relative;
    right:200px;
    width: 140px;  /* Tamaño base */
    height: auto;  /* Mantiene la proporción */
    display: flex;
    margin-right: -100px;
  }
  .abcd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
    
  
  .Navbar{
 background:#c2dda8 !important; /* Verde IVY */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5%;
  }
}







@media (max-width: 768px) {
  .Logo {
    position: relative;
    right: 150px; /* Alinea el logo al centro */
    width: 100%;  /* Se adapta al tamaño de la pantalla */
    max-width: 220px; 
    margin-left: 70%;
    margin-top: -5%;
  }
  .Navbar {
   width: 100%;
   max-width: 500px; /* Ancho máximo */
 
  }
}


/* Si el logo es una imagen */
.Logo img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Ajusta sin distorsionar */
}
.navbar a {
  color: rgb(88, 223, 15); /* Color del texto */
  text-decoration: none; /* Sin subrayado */
    font-size: 30px;
  color: rgb(9, 110, 6); /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  margin-right: 100px; /* Espacio entre opciones */
}
.navbar a:hover {
  color: #345713; /* Color al pasar el mouse */
}
